{{define "title"}}关于 — Go语言俱乐部{{end}}
{{define "content"}}
<article class="Article ">
    <h1>关于</h1>


    <p><a href="https://golangclub.com/" rel="noreferrer" target="_blank">Go 语言俱乐部</a> 是 <a href="https://go.dev" rel="noreferrer" target="_blank">Go.dev</a> 的中国本土化站点，由 <a href="https://studygolang.com" rel="noreferrer" target="_blank">Go 语言中文网</a> 发起。 Go 语言中文网是 Go 语言爱好者分享 Go 语言知识，交流使用经验的学习家园，而 Go 语言俱乐部是 Go 语言爱好者的中心，提供来自整个 Go 生态系统的集中和策划的资源。</p>

    <p><img class="LargeMedia-image Right" alt="Go gopher" src="/static/imgs/pink.svg">
        Go 语言俱乐部提供：</p>

    <ol>
        <li>集中展示发布在 index.golang.org 的 Go 包和模块信息</li>
        <li>基本学习资源</li>
        <li>关键用例和案例研究</li>
    </ol>

    <p>Go 语言俱乐部目前处于 <a href="https://en.wikipedia.org/wiki/Minimum_viable_product" rel="noreferrer" target="_blank">MVP</a> 状态。 我们为我们所建立的东西感到骄傲，并且很高兴与社区分享它。我们希望你能在使用 Go 语言俱乐部中找到价值和乐趣。开发版只有一小部分功能，我们正在积极的寻求反馈。如果您有任何想法、建议或问题，请联系我们。</p>

    <h2 id="sharing-feedback-reporting-an-issue">Sharing feedback / Reporting an issue</h2>

    <p>On the footer of every page there are two links, &ldquo;Share Feedback&rdquo; and &ldquo;Report an issue&rdquo;. These links will enable you to capture a screenshot of the page you are on, annotate that screenshot, and then send this directly to the go.dev team.</p>

    <p>Or you can send your bugs, ideas, feature requests and questions to <a href="mailto:go-discovery-feedback@google.com" rel="noreferrer" target="_blank">go-discovery-feedback@google.com</a>.</p>

    <h2 id="adding-a-package">Adding a package</h2>

    <p>To add a package or module, simply fetch it from proxy.golang.org. Documentation is generated based on Go source code downloaded from the proxy.golang.org/&lt;module&gt;@&lt;version&gt;.zip. New module versions are fetched from index.golang.org and added to the go.dev site every few minutes.</p>

    <p>The <a href="https://blog.golang.org/godoc-documenting-go-code" rel="noreferrer" target="_blank">guidelines</a> for writing documentation for the <a href="https://pkg.go.dev/golang.org/x/tools/cmd/godoc" rel="noreferrer" target="_blank">godoc</a> tool apply to go.dev.</p>

    <p>It&rsquo;s important to write a good summary of the package in the first sentence of the package comment. The go.dev site indexes the first sentence and displays it in search results.</p>

    <h2 id="removing-a-package">Removing a package</h2>

    <p>If you would like a package removed, please send an email to <a href="mailto:go-discovery-feedback@google.com" rel="noreferrer" target="_blank">go-discovery-feedback@google.com</a>, with the import path or module path that you want to remove.</p>

    <h2 id="license-policy">License policy</h2>

    <p>Information for a given package or module may be limited if we are not able to detect a suitable license. See our <a href="https://pkg.go.dev/license-policy" rel="noreferrer" target="_blank">license policy</a> for more information.</p>

</article>
{{end}}