{{define "title"}}Go语言俱乐部{{end}} {{define "content"}}
<section class="Hero bluebg">
  <div class="Hero-gridContainer">
    <div class="Hero-blurb">
      <h1>Build fast, reliable, and efficient software at scale</h1>
      <h2>
        Go is an open source programming language supported by Google.
      </h2>
    </div>
    <div class="Hero-actions">
      <a class="Primary" href="/learn">Get Started</a>
      <a href="https://golang.org/dl">Download Go</a>
    </div>
    <div class="Hero-gopher">
      <img
        class="Hero-gopherLadder"
        src="/static/imgs/ladder.svg"
        alt="Go Gopher climbing a ladder."
      />
    </div>
  </div>
</section>
<section class="WhoUses">
  <div class="WhoUses-gridContainer">
    <div class="WhoUses-header">
      <h2>Companies using Go</h2>
    </div>
    <ul class="WhoUses-caseStudyList">
      <li class="WhoUses-caseStudy">
        <a href="/solutions/americanexpress/">
          <img
            src="https://go.dev/solutions/americanexpress/logo.png"
            class="WhoUses-logo"
            alt="American Express"
          />
          <p>View case study</p>
        </a>
      </li>

      <li class="WhoUses-caseStudy">
        <a href="/solutions/mercadolibre/">
          <img
            src="https://go.dev/solutions/mercadolibre/logo.svg"
            class="WhoUses-logo"
            alt="MercadoLibre"
          />
          <p>View case study</p>
        </a>
      </li>

      <li class="WhoUses-caseStudy">
        <a
          href="https://www.zdnet.com/article/salesforce-why-we-ditched-python-for-googles-go-language-in-einstein-analytics/"
          target="_blank"
        >
          <img
            src="https://go.dev/solutions/salesforce/logo.svg"
            class="WhoUses-logo"
            alt="Salesforce"
          />
          <p>
            View article
            <i class="material-icons" style="font-size:1rem;">open_in_new</i>
          </p>
        </a>
      </li>

      <li class="WhoUses-caseStudy">
        <a
          href="https://medium.com/capital-one-tech/a-serverless-and-go-journey-credit-offers-api-74ef1f9fde7f"
          target="_blank"
        >
          <img
            src="https://go.dev/solutions/capital-one/logo.svg"
            class="WhoUses-logo"
            alt="Capital One"
          />
          <p>
            View article
            <i class="material-icons" style="font-size:1rem;">open_in_new</i>
          </p>
        </a>
      </li>

      <li class="WhoUses-caseStudy">
        <a
          href="https://tech.target.com/infrastructure/2018/06/18/Recommending-GoLang-at-Target.html"
          target="_blank"
        >
          <img
            src="https://go.dev/solutions/target/logo.svg"
            class="WhoUses-logo"
            alt="Target"
          />
          <p>
            View article
            <i class="material-icons" style="font-size:1rem;">open_in_new</i>
          </p>
        </a>
      </li>

      <li class="WhoUses-caseStudy">
        <a
          href="https://blog.twitch.tv/en/2016/07/05/gos-march-to-low-latency-gc-a6fa96f06eb7/"
          target="_blank"
        >
          <img
            src="https://go.dev/solutions/twitch/logo.svg"
            class="WhoUses-logo"
            alt="Twitch"
          />
          <p>
            View article
            <i class="material-icons" style="font-size:1rem;">open_in_new</i>
          </p>
        </a>
      </li>

      <li class="WhoUses-caseStudy">
        <a
          href="https://medium.com/netflix-techblog/application-data-caching-using-ssds-5bf25df851ef"
          target="_blank"
        >
          <img
            src="https://go.dev/solutions/netflix/logo.svg"
            class="WhoUses-logo"
            alt="Netflix"
          />
          <p>
            View article
            <i class="material-icons" style="font-size:1rem;">open_in_new</i>
          </p>
        </a>
      </li>

      <li class="WhoUses-caseStudy">
        <a
          href="https://blog.twitter.com/engineering/en_us/a/2015/handling-five-billion-sessions-a-day-in-real-time.html"
          target="_blank"
        >
          <img
            src="https://go.dev/solutions/twitter/logo.svg"
            class="WhoUses-logo"
            alt="Twitter"
          />
          <p>
            View article
            <i class="material-icons" style="font-size:1rem;">open_in_new</i>
          </p>
        </a>
      </li>

      <li class="WhoUses-caseStudy">
        <a href="https://eng.uber.com/aresdb/" target="_blank">
          <img
            src="https://go.dev/solutions/uber/logo.svg"
            class="WhoUses-logo"
            alt="Uber"
          />
          <p>
            View article
            <i class="material-icons" style="font-size:1rem;">open_in_new</i>
          </p>
        </a>
      </li>

      <li class="WhoUses-caseStudy">
        <a
          href="https://blogs.dropbox.com/tech/2014/07/open-sourcing-our-go-libraries/"
          target="_blank"
        >
          <img
            src="https://go.dev/solutions/dropbox/logo.svg"
            class="WhoUses-logo"
            alt="Dropbox"
          />
          <p>
            View article
            <i class="material-icons" style="font-size:1rem;">open_in_new</i>
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="WhyGo">
  <div class="WhyGo-gridContainer">
    <div class="WhyGo-header">
      <h2>为什么选择 Go</h2>
    </div>
    <ul class="WhyGo-reasons">
      <li class="WhyGo-reason">
        <div class="WhyGo-reasonIcon" role="presentation">
          <img src="/static/imgs/star-24px.svg" alt="Star." />
        </div>
        <div class="WhyGo-reasonText">
          <h3 class="WhyGo-reasonTitle">简单易学</h3>
          <p>
            “开始的时候，我们团队没有一个成员了解 Go，但是<b
              >一个月后，我们每个人都开始用 Go 写代码</b
            >，我们当时正在构建终端服务。正是 Go
            的灵活性、易用性及其一流的理念（Go
            如何处理本机并发、垃圾回收，当然还有安全性和运行速度）等在构建过程中帮了我们。毕竟，谁能战胜这只可爱的吉祥物呢！”
          </p>
          <p style="text-align: right;">
            -
            <a
              href="https://medium.com/capital-one-tech/a-serverless-and-go-journey-credit-offers-api-74ef1f9fde7f"
              target="_blank"
              >CapitalOne 高级软件开发经理 Jaime Enrique Garcia Lopez</a
            >
          </p>
        </div>
      </li>
      <li class="WhyGo-reason">
        <div class="WhyGo-reasonIcon" role="presentation">
          <img src="/static/imgs/star-24px.svg" alt="Star." />
        </div>
        <div class="WhyGo-reasonText">
          <h3 class="WhyGo-reasonTitle">高效开发</h3>
          <p>
            “<b>一门快速编译的小巧语言会创造一个快乐的开发者。</b> Go
            语言很小，编译速度很快，因此你可以把精力更多集中在实际的问题上，而不必在意解决问题的工具。编码、测试以及调试周期是如此之快，以至于让你误以为自己在使用解释型语言。看下你的代码，你会发现有<b>更少的重复代码（boilerplate）以及更多的业务逻辑</b>。”
          </p>
          <p style="text-align: right;">
            -
            <a
              href="https://blog.gopheracademy.com/birthday-bash-2014/openshift-3-old-dogs-new-tricks/"
              target="_blank"
              >RedHat Open Shift 首席工程师 Clayton Coleman</a
            >
          </p>
        </div>
      </li>
      <li class="WhyGo-reason">
        <div class="WhyGo-reasonIcon" role="presentation">
          <img src="/static/imgs/star-24px.svg" alt="Star." />
        </div>
        <div class="WhyGo-reasonText">
          <h3 class="WhyGo-reasonTitle">功能强大</h3>
          <p>
            “<b>Go 语言有出色的可伸缩特性，用 Go 写的服务通常占用很小的内存</b
            >。因为代码会编译成单个静态二进制文件，服务也可以轻松地进行容器化，所以构建和部署也就更加简单。所有这些特性使得<b>
              Go 成为构建微服务的理想选择</b
            >, 因为你可以轻松地将其部署到 Kubernetes 等高可用和可伸缩的环境中。”
          </p>
          <p style="text-align: right;">
            -
            <a
              href="https://www.computerweekly.com/blog/Open-Source-Insider/Golang-or-go-home-how-Curve-is-taking-Golang-to-new-heights"
              target="_blank"
              >Curve 首席软件工程师 Matt Boyle</a
            >
          </p>
        </div>
      </li>
    </ul>
    <div class="WhyGo-gopher">
      <img src="/static/imgs/biplane.svg" alt="Go Gopher piloting a biplane." />
    </div>
  </div>
</section>
<section class="UseCases">
  <div class="Container">
    <div class="UseCases-gridContainer">
      <div class="UseCases-header">
        <h2>Designed for today's needs</h2>
      </div>

      <div class="UseCase">
        <div class="UseCase-logo">
          <img
            alt="cloud icon"
            src="https://go.dev/solutions/cloud/cloud-white.svg"
          />
        </div>
        <h3 class="UseCase-title">Cloud &amp; Network Services</h3>
        <p class="UseCase-description">
          With a strong ecosystem of tools and APIs on major cloud providers, it
          is easier than ever to build services with Go.
        </p>
        <p class="UseCase-action">
          <a href="/solutions/cloud/">Learn More &gt;</a>
        </p>
      </div>

      <div class="UseCase">
        <div class="UseCase-logo">
          <img
            alt="CLI icon"
            src="https://go.dev/solutions/clis/cli-white.svg"
          />
        </div>
        <h3 class="UseCase-title">CLI</h3>
        <p class="UseCase-description">
            使用 Go 的一些流行的开源包，以及健壮的标准库， 创建快速、优雅的 CLI （Command-line Interface） 。
        </p>
        <p class="UseCase-action">
          <a href="/solutions/clis.html">更多 &gt;</a>
        </p>
      </div>

      <div class="UseCase">
        <div class="UseCase-logo">
          <img
            alt="web dev icon"
            src="https://go.dev/solutions/webdev/webdev-white.svg"
          />
        </div>
        <h3 class="UseCase-title">Web 开发</h3>
        <p class="UseCase-description">
          通过提高内存性能和对多种 IDE 的良好支持，Go 可以快速的、 灵活的支持
          Web 应用程序的开发
        </p>
        <p class="UseCase-action">
          <a href="/solutions/webdev/">更多 &gt;</a>
        </p>
      </div>

      <div class="UseCase">
        <div class="UseCase-logo">
          <img
            alt="ops icon"
            src="https://go.dev/solutions/devops/ops-white.svg"
          />
        </div>
        <h3 class="UseCase-title">DevOps &amp; Site Reliability</h3>
        <p class="UseCase-description">
          With fast build times, lean syntax, an automatic formatter and doc
          generator, Go is built to support both DevOps and SRE.
        </p>
        <p class="UseCase-action">
          <a href="/solutions/devops/">Learn More &gt;</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="LearnGo">
  <div class="LearnGo-gridContainer">
    <div class="LearnGo-header">
      <h2>Learn Go</h2>
      <p>
        “I started writing in Go when I was just out of college and couldn’t
        believe how quickly I picked it up, especially compared to other
        languages. I had spent months learning about how to build APIs in other
        languages (and mostly failing), but
        <b>after a week of writing Go, I had completed my first API</b>.”
      </p>
      <p style="text-align: right;">
        -
        <a
          href="https://medium.com/capital-one-tech/good-to-go-a-language-that-makes-it-easy-for-engineers-to-talk-to-each-other-17ad0f47f76c"
          target="_blank"
        >
          Kaylyn Gibilterra, Senior Software Engineer, Capital One
        </a>
      </p>
    </div>
    <div class="LearnGo-subHeader">
      <h3>Get started learning Go today</h3>
      <p class="LearnGo-viewMore"></p>
    </div>
    <ul class="LearnGo-courses">
      <li class="LearnGo-courseItem">
        <div class="LearnGo-course">
          <a href="https://www.codecademy.com/learn/learn-go">
            <div class="LearnGo-courseImage">
              <img
                alt="Codecademy thumbnail."
                src="/images/learn/codecademy.png"
              />
            </div>
            <p class="LearnGo-courseTitle">Codecademy</p>
          </a>
        </div>
      </li>

      <li class="LearnGo-courseItem">
        <div class="LearnGo-course">
          <a href="https://exercism.io/tracks/go">
            <div class="LearnGo-courseImage">
              <img
                alt="Exercism.io thumbnail."
                src="/images/learn/exercism.png"
              />
            </div>
            <p class="LearnGo-courseTitle">Exercism.io</p>
          </a>
        </div>
      </li>

      <li class="LearnGo-courseItem">
        <div class="LearnGo-course">
          <a
            href="https://codelabs.developers.google.com/codelabs/cloud-functions-go-http/#0"
          >
            <div class="LearnGo-courseImage">
              <img
                alt="Google Developers Codelabs thumbnail."
                src="/images/learn/codelabs_2.png"
              />
            </div>
            <p class="LearnGo-courseTitle">Google Developers Codelabs</p>
          </a>
        </div>
      </li>

      <li class="LearnGo-courseItem">
        <div class="LearnGo-course">
          <a href="https://gophercises.com/">
            <div class="LearnGo-courseImage">
              <img
                alt="Gophercises thumbnail."
                src="/images/learn/gophercises_1.png"
              />
            </div>
            <p class="LearnGo-courseTitle">Gophercises</p>
          </a>
        </div>
      </li>
    </ul>
    <div class="LearnGo-subHeader">
      <h3>Events</h3>
      <p class="LearnGo-viewMore">
        <a href="https://www.meetup.com/pro/go">View more events &gt;</a>
      </p>
    </div>
    <ul class="LearnGo-events">
      <li class="LearnGo-eventItem">
        <div class="LearnGo-eventThumbnail LearnGo-eventThumbnail--noimage">
          <img src="/images/meetup.svg" alt="meetup logo" />
        </div>
        <div class="LearnGo-eventBody">
          <div class="LearnGo-eventDate">
            <p>Nov 15, 2019</p>
            <p>Leipzig, Germany</p>
          </div>
          <div class="LearnGo-eventText">
            <h4 class="LearnGo-eventName">
              <a href="https://www.meetup.com/Leipzig-Golang/events/265955691"
                >Leipzig Golang and Cloud Native Meetup #8</a
              >
            </h4>
            <p class="LearnGo-eventDescription">
              We enjoy using Go and we are curious about the language, its
              features and applications, especially in the context of cloud
              computing and infrastructure.<br />
              Our goal is to establish a place, where people from all
              backgrounds interested in the Go programming language and various
              cloud technologies can meet, learn, share experiences, present,
              discuss and network.<br />
              We aim to be a welcoming community, respecting Gopher values, as
              outlined here:
              <a href="https://golang.org/conduct" rel="nofollow"
                >https://golang.org/conduct</a
              >.<br />
              <br /><br />
              Find out more on:
              <a href="https://golangleipzig.space/" rel="nofollow"
                >https://golangleipzig.space/</a
              >
              and
              <a href="https://twitter.com/golang_leipzig" rel="nofollow"
                >https://github.com/golang-leipzig<br /></a
              ><br />
              Since March 2019, we are part of the Go Developer Network:<br />
              <a
                href="https://blog.golang.org/go-developer-network"
                rel="nofollow"
                >https://blog.golang.org/go-developer-network</a
              ><br />
              <br />
            </p>
          </div>
          <p class="LearnGo-viewMore">
            <a href="https://www.meetup.com/Leipzig-Golang/events/265955691"
              >Learn more &gt;</a
            >
          </p>
        </div>
      </li>

      <li class="LearnGo-eventItem">
        <div class="LearnGo-eventThumbnail ">
          <img
            src="https://secure.meetupstatic.com/photos/event/c/e/4/5/thumb_473932805.jpeg"
            alt="Golang Gurgaon Meetup group photo"
          />
        </div>
        <div class="LearnGo-eventBody">
          <div class="LearnGo-eventDate">
            <p>Nov 16, 2019</p>
            <p>Gurgaon, India</p>
          </div>
          <div class="LearnGo-eventText">
            <h4 class="LearnGo-eventName">
              <a
                href="https://www.meetup.com/Gurgaon-Go-Meetup/events/tnmvlqyzpbvb"
                >Golang Gurgaon Meetup</a
              >
            </h4>
            <p class="LearnGo-eventDescription">
              This group is for people interested in learning both the
              programming language Go(lang), and how to build interesting things
              with it. We will aim the first few sessions at
              beginner-intermediate levels and maybe later introduce some
              high-level talks.<br />
              WE ARE ACTIVELY LOOKING FOR MEETUP VENUES.<br />
              Want to help organise/volunteer? - Find something to do at
              <a href="https://trello.com/b/qozwyn8D" rel="nofollow"
                >https://trello.com/b/qozwyn8D</a
              >
              and reach out to me. <br />
              Also, meet fellow gophers on
              <a href="https://goo.gl/NxnsxE" rel="nofollow">Slack</a>.
            </p>
          </div>
          <p class="LearnGo-viewMore">
            <a
              href="https://www.meetup.com/Gurgaon-Go-Meetup/events/tnmvlqyzpbvb"
              >Learn more &gt;</a
            >
          </p>
        </div>
      </li>

      <li class="LearnGo-eventItem">
        <div class="LearnGo-eventThumbnail ">
          <img
            src="https://secure.meetupstatic.com/photos/event/c/4/6/7/thumb_484190279.jpeg"
            alt="Go faz 10 anos! group photo"
          />
        </div>
        <div class="LearnGo-eventBody">
          <div class="LearnGo-eventDate">
            <p>Nov 16, 2019</p>
            <p>Curitiba, Brazil</p>
          </div>
          <div class="LearnGo-eventText">
            <h4 class="LearnGo-eventName">
              <a href="https://www.meetup.com/Women-Who-Go-CWB/events/265983131"
                >Go faz 10 anos!</a
              >
            </h4>
            <p class="LearnGo-eventDescription">
              Esse é o chapter de Curitiba do Women Who Go, um grupo que reúne
              mulheres e outras minorias de gênero pra estudar a linguagem de
              programação chamada Go.<br />
              Queremos construir uma comunidade de Golang mais diversa. Vem,
              gente!<br />
              tl;dr: Women Who Go - Curitiba Chapter <br /><br />
              <br /><br />
              ♥
              <a href="https://twitter.com/womenwhogocwb" rel="nofollow"
                >Twitter</a
              ><br /><br />
              ♥
              <a href="https://www.instagram.com/womenwhogocwb/" rel="nofollow"
                >Instagram</a
              ><br /><br />
              ♥
              <a
                href="https://www.linkedin.com/company/40847620/"
                rel="nofollow"
                >LinkedIn</a
              >
              <br /><br />
              ♥ <a href="http://bit.ly/wwgtelegram" rel="nofollow">Telegram</a
              ><br /><br />
              ♥ <a href="https://www.womenwhogo.org/" rel="nofollow">Site WWG</a
              ><br />
              <br /><br />
              <br />
            </p>
          </div>
          <p class="LearnGo-viewMore">
            <a href="https://www.meetup.com/Women-Who-Go-CWB/events/265983131"
              >Learn more &gt;</a
            >
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
{{end}}
