{{define "title"}}Go语言俱乐部{{end}}
{{define "content"}}
<section class="Hero bluebg">
    <div class="Hero-gridContainer">
        <div class="Hero-blurb">
            <h1>Build fast, reliable, and efficient software at scale</h1>
            <h2>
                Go is an open source programming language supported by Google.
            </h2>
        </div>
        <div class="Hero-actions">
            <a class="Primary" href="/learn">Get Started</a>
            <a href="https://golang.org/dl">Download Go</a>
        </div>
        <div class="Hero-gopher">
            <img class="Hero-gopherLadder" src="/static/imgs/ladder.svg" alt="Go Gopher climbing a ladder.">
        </div>
    </div>
</section>
<section class="WhoUses">

    <div class="WhoUses-gridContainer">
        <div class="WhoUses-header">
            <h2>Companies using Go</h2>
        </div>
        <ul class="WhoUses-caseStudyList">
            <li class="WhoUses-caseStudy">
                <a href="/solutions/americanexpress/">
                    <img src="https://go.dev/solutions/americanexpress/logo.png" class="WhoUses-logo" alt="American Express">
                    <p>View case study</p>
                </a>
            </li>

            <li class="WhoUses-caseStudy">
                <a href="/solutions/mercadolibre/">
                    <img src="https://go.dev/solutions/mercadolibre/logo.svg" class="WhoUses-logo" alt="MercadoLibre">
                    <p>View case study</p>
                </a>
            </li>

            <li class="WhoUses-caseStudy">
                <a href="https://www.zdnet.com/article/salesforce-why-we-ditched-python-for-googles-go-language-in-einstein-analytics/" target="_blank">
                    <img src="https://go.dev/solutions/salesforce/logo.svg" class="WhoUses-logo" alt="Salesforce">
                    <p>View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                </a>
            </li>

            <li class="WhoUses-caseStudy">
                <a href="https://medium.com/capital-one-tech/a-serverless-and-go-journey-credit-offers-api-74ef1f9fde7f" target="_blank">
                    <img src="https://go.dev/solutions/capital-one/logo.svg" class="WhoUses-logo" alt="Capital One">
                    <p>View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                </a>
            </li>

            <li class="WhoUses-caseStudy">
                <a href="https://tech.target.com/infrastructure/2018/06/18/Recommending-GoLang-at-Target.html" target="_blank">
                    <img src="https://go.dev/solutions/target/logo.svg" class="WhoUses-logo" alt="Target">
                    <p>View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                </a>
            </li>

            <li class="WhoUses-caseStudy">
                <a href="https://blog.twitch.tv/en/2016/07/05/gos-march-to-low-latency-gc-a6fa96f06eb7/" target="_blank">
                    <img src="https://go.dev/solutions/twitch/logo.svg" class="WhoUses-logo" alt="Twitch">
                    <p>View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                </a>
            </li>

            <li class="WhoUses-caseStudy">
                <a href="https://medium.com/netflix-techblog/application-data-caching-using-ssds-5bf25df851ef" target="_blank">
                    <img src="https://go.dev/solutions/netflix/logo.svg" class="WhoUses-logo" alt="Netflix">
                    <p>View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                </a>
            </li>

            <li class="WhoUses-caseStudy">
                <a href="https://blog.twitter.com/engineering/en_us/a/2015/handling-five-billion-sessions-a-day-in-real-time.html" target="_blank">
                    <img src="https://go.dev/solutions/twitter/logo.svg" class="WhoUses-logo" alt="Twitter">
                    <p>View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                </a>

            </li>

            <li class="WhoUses-caseStudy">

                <a href="https://eng.uber.com/aresdb/" target="_blank">

                    <img src="https://go.dev/solutions/uber/logo.svg" class="WhoUses-logo" alt="Uber">
                    <p>View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                </a>

            </li>

            <li class="WhoUses-caseStudy">

                <a href="https://blogs.dropbox.com/tech/2014/07/open-sourcing-our-go-libraries/" target="_blank">

                    <img src="https://go.dev/solutions/dropbox/logo.svg" class="WhoUses-logo" alt="Dropbox">
                    <p>View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                </a>

            </li>

        </ul>
    </div>
</section>
<section class="WhyGo">
    <div class="WhyGo-gridContainer">
        <div class="WhyGo-header">
            <h2>为什么选择 Go</h2>
        </div>
        <ul class="WhyGo-reasons">
            <li class="WhyGo-reason">
                <div class="WhyGo-reasonIcon" role="presentation">
                    <img src="/static/imgs/star-24px.svg" alt="Star."/>
                </div>
                <div class="WhyGo-reasonText">
                    <h3 class="WhyGo-reasonTitle">简单易学</h3>
                    <p>
                        “开始的时候，我们团队没有一个成员了解 Go，但是<b>一个月后，我们每个人都开始用 Go 写代码</b>，我们当时正在构建终端服务。正是 Go 的灵活性、易用性及其一流的理念（Go 如何处理本机并发、垃圾回收，当然还有安全性和运行速度）等在构建过程中帮了我们。毕竟，谁能战胜这只可爱的吉祥物呢！”
                    </p>
                    <p style="text-align: right;">
                        - <a href="https://medium.com/capital-one-tech/a-serverless-and-go-journey-credit-offers-api-74ef1f9fde7f"
                                target="_blank">CapitalOne 高级软件开发经理 Jaime Enrique Garcia Lopez</a>
                    </p>
                </div>
            </li>
            <li class="WhyGo-reason">
                <div class="WhyGo-reasonIcon" role="presentation">
                    <img src="/static/imgs/star-24px.svg" alt="Star."/>
                </div>
                <div class="WhyGo-reasonText">
                    <h3 class="WhyGo-reasonTitle">高效开发</h3>
                    <p>
                        “<b>一门快速编译的小巧语言会创造一个快乐的开发者。</b> Go 语言很小，编译速度很快，因此你可以把精力更多集中在实际的问题上，而不必在意解决问题的工具。编码、测试以及调试周期是如此之快，以至于让你误以为自己在使用解释型语言。看下你的代码，你会发现有<b>更少的重复代码（boilerplate）以及更多的业务逻辑</b>。”
                    </p>
                    <p style="text-align: right;">
                        - <a href="https://blog.gopheracademy.com/birthday-bash-2014/openshift-3-old-dogs-new-tricks/"
                                target="_blank">RedHat Open Shift 首席工程师 Clayton Coleman</a>
                    </p>
                </div>
            </li>
            <li class="WhyGo-reason">
                <div class="WhyGo-reasonIcon" role="presentation">
                    <img src="/static/imgs/star-24px.svg" alt="Star."/>
                </div>
                <div class="WhyGo-reasonText">
                    <h3 class="WhyGo-reasonTitle">功能强大</h3>
                    <p>
                        “<b>Go 语言有出色的可伸缩特性，用 Go 写的服务通常占用很小的内存</b>。因为代码会编译成单个静态二进制文件，服务也可以轻松地进行容器化，所以构建和部署也就更加简单。所有这些特性使得<b> Go 成为构建微服务的理想选择</b>, 因为你可以轻松地将其部署到 Kubernetes 等高可用和可伸缩的环境中。”
                    </p>
                    <p style="text-align: right;">
                        - <a href="https://www.computerweekly.com/blog/Open-Source-Insider/Golang-or-go-home-how-Curve-is-taking-Golang-to-new-heights"
                                target="_blank">Curve 首席软件工程师 Matt Boyle</a>
                    </p>
                </div>
            </li>
        </ul>
        <div class="WhyGo-gopher">
            <img src="/static/imgs/biplane.svg" alt="Go Gopher piloting a biplane.">
        </div>
    </div>
</section>
<section class="UseCases">

    <div class="Container">
        <div class="UseCases-gridContainer">
            <div class="UseCases-header">
                <h2>Designed for today's needs</h2>
            </div>

            <div class="UseCase">
                <div class="UseCase-logo">


                    <img alt="cloud icon" src="https://go.dev/solutions/cloud/cloud-white.svg">

                </div>
                <h3 class="UseCase-title">Cloud &amp; Network Services</h3>
                <p class="UseCase-description">
                    With a strong ecosystem of tools and APIs on major cloud providers, it is easier than ever to build services with Go.
                </p>
                <p class="UseCase-action">
                    <a href="/solutions/cloud/">Learn More &gt;</a>
                </p>
            </div>

            <div class="UseCase">
                <div class="UseCase-logo">


                    <img alt="CLI icon" src="https://go.dev/solutions/clis/cli-white.svg">

                </div>
                <h3 class="UseCase-title">Command-line Interfaces</h3>
                <p class="UseCase-description">
                    With popular open source packages and a robust standard library, use Go to create fast and elegant CLIs.
                </p>
                <p class="UseCase-action">
                    <a href="/solutions/clis/">Learn More &gt;</a>
                </p>
            </div>

            <div class="UseCase">
                <div class="UseCase-logo">


                    <img alt="web dev icon" src="https://go.dev/solutions/webdev/webdev-white.svg">

                </div>
                <h3 class="UseCase-title">Web Development</h3>
                <p class="UseCase-description">
                    With enhanced memory performance and support for several IDEs, Go powers fast and scalable web applications.
                </p>
                <p class="UseCase-action">
                    <a href="/solutions/webdev/">Learn More &gt;</a>
                </p>
            </div>

            <div class="UseCase">
                <div class="UseCase-logo">


                    <img alt="ops icon" src="https://go.dev/solutions/devops/ops-white.svg">

                </div>
                <h3 class="UseCase-title">DevOps &amp; Site Reliability</h3>
                <p class="UseCase-description">
                    With fast build times, lean syntax, an automatic formatter and doc generator, Go is built to support both DevOps and SRE.
                </p>
                <p class="UseCase-action">
                    <a href="/solutions/devops/">Learn More &gt;</a>
                </p>
            </div>

        </div>
    </div>
</section>
<section class="LearnGo">
    <div class="LearnGo-gridContainer">
        <div class="LearnGo-header">
            <h2>Learn Go</h2>
            <p>
                “当我刚从大学毕业时就开始用Go编程，相比其他语言Go的上手速度之快让我难以相信。
                我曾花费数月时间学习如何利用其他语言创建API(多数失败了)，但<b>当使用Go编程仅一周后，我就完成了自己的第一个API</b>”
            </p>
            <p style="text-align: right;">
                -
                <a href="https://medium.com/capital-one-tech/good-to-go-a-language-that-makes-it-easy-for-engineers-to-talk-to-each-other-17ad0f47f76c"
                   target="_blank">
                    Kaylyn Gibilterra, 高级软件工程师, 美国第一资本金融公司
                </a>
            </p>
        </div>
        <div class="LearnGo-subHeader">
            <h3>立即开始学习Go</h3>
            <p class="学习Go-查看更多">

            </p>
        </div>
        <ul class="LearnGo-courses">

            <li class="LearnGo-courseItem">
                <div class="LearnGo-course">
                    <a href="https://www.codecademy.com/learn/learn-go">
                        <div class="LearnGo-courseImage">

                            <img alt="Codecademy thumbnail." src="/images/learn/codecademy.png">

                        </div>
                        <p class="LearnGo-courseTitle">Codecademy</p>
                    </a>
                </div>
            </li>

            <li class="LearnGo-courseItem">
                <div class="LearnGo-course">
                    <a href="https://exercism.io/tracks/go">
                        <div class="LearnGo-courseImage">

                            <img alt="Exercism.io thumbnail." src="/images/learn/exercism.png">

                        </div>
                        <p class="LearnGo-courseTitle">Exercism.io</p>
                    </a>
                </div>
            </li>

            <li class="LearnGo-courseItem">
                <div class="LearnGo-course">
                    <a href="https://codelabs.developers.google.com/codelabs/cloud-functions-go-http/#0">
                        <div class="LearnGo-courseImage">

                            <img alt="Google Developers Codelabs thumbnail." src="/images/learn/codelabs_2.png">

                        </div>
                        <p class="LearnGo-courseTitle">谷歌开发者代码实验室(Google Developers Codelabs)</p>
                    </a>
                </div>
            </li>

            <li class="LearnGo-courseItem">
                <div class="LearnGo-course">
                    <a href="https://gophercises.com/">
                        <div class="LearnGo-courseImage">

                            <img alt="Gophercises thumbnail." src="/images/learn/gophercises_1.png">

                        </div>
                        <p class="LearnGo-courseTitle">Gophercises</p>
                    </a>
                </div>
            </li>

        </ul>
        <div class="LearnGo-subHeader">
            <h3>大事记</h3>
            <p class="LearnGo-viewMore"><a href="https://www.meetup.com/pro/go">查看更多大事 &gt;</a></p>
        </div>
        <ul class="LearnGo-events">

            <li class="LearnGo-eventItem">
                <div class="LearnGo-eventThumbnail LearnGo-eventThumbnail--noimage">

                    <img src="/images/meetup.svg" alt="meetup logo"/>

                </div>
                <div class="LearnGo-eventBody">
                    <div class="LearnGo-eventDate">
                        <p>2019年11月15日</p>
                        <p>德国,莱比锡</p>
                    </div>
                    <div class="LearnGo-eventText">
                        <h4 class="LearnGo-eventName">
                            <a href="https://www.meetup.com/Leipzig-Golang/events/265955691">莱比锡Golang与云原生技术沙龙#8</a>
                        </h4>
                        <p class="LearnGo-eventDescription">
                            我们享受使用Go编程，对Go语言本身及它的特性、应用充满好奇，尤其是与云计算、架构相关的内容。 <br/>
                            我们的目标是建立一个组织，让不同背景但对Go编程语言和各种云技术感兴趣的人，能在这里聚会、学习、分享经验、表达、讨论、建立人际网络。 <br/>
                            我们的愿景是成为一个受欢迎的、尊重Gopher价值的社区，正如在这里所强调的: <a href="https://golang.org/conduct" rel="nofollow">https://golang.org/conduct</a>.<br/>
                            <br><br/>
                            发现更多: <a href="https://golangleipzig.space/" rel="nofollow">https://golangleipzig.space/</a> and <a href="https://twitter.com/golang_leipzig" rel="nofollow">https://github.com/golang-leipzig<br></a><br/>
                            自2019年3月起，我们就是Go开发者社区的一部分：<br/>
                            <a href="https://blog.golang.org/go-developer-network" rel="nofollow">https://blog.golang.org/go-developer-network</a><br/>
                            <br>
                        </p>
                    </div>
                    <p class="LearnGo-viewMore"><a href="https://www.meetup.com/Leipzig-Golang/events/265955691">了解更多&gt;</a></p>
                </div>
            </li>

            <li class="LearnGo-eventItem">
                <div class="LearnGo-eventThumbnail ">

                    <img src="https://secure.meetupstatic.com/photos/event/c/e/4/5/thumb_473932805.jpeg" alt="Golang Gurgaon Meetup group photo"/>

                </div>
                <div class="LearnGo-eventBody">
                    <div class="LearnGo-eventDate">
                        <p>2019年11月16号</p>
                        <p>印度, 古尔冈</p>
                    </div>
                    <div class="LearnGo-eventText">
                        <h4 class="LearnGo-eventName">
                            <a href="https://www.meetup.com/Gurgaon-Go-Meetup/events/tnmvlqyzpbvb">印度古尔冈(Gurgaon)Golang技术沙龙</a>
                        </h4>
                        <p class="LearnGo-eventDescription">
                            这是个由对学习Golang语言和用它进行有意思的软件开发感兴趣的人构成的组织。我们计划刚开始时开展初中级水平的对话，随后可能会引入一些高级水平的交流。<br/>
                            我们正在寻找用于组织聚会的场地。<br/>
                            想帮助组织活动/提供志愿服务？ - 这里有一些信息<a href="https://trello.com/b/qozwyn8D" rel="nofollow">https://trello.com/b/qozwyn8D</a> 和我联系 <br/>
                            另外，在这里遇见gopher伙伴<a href="https://goo.gl/NxnsxE" rel="nofollow">Slack</a>.
                        </p>
                    </div>
                    <p class="LearnGo-viewMore"><a href="https://www.meetup.com/Gurgaon-Go-Meetup/events/tnmvlqyzpbvb">了解更多 &gt;</a></p>
                </div>
            </li>

            <li class="LearnGo-eventItem">
                <div class="LearnGo-eventThumbnail ">

                    <img src="https://secure.meetupstatic.com/photos/event/c/4/6/7/thumb_484190279.jpeg" alt="Go faz 10 anos! group photo"/>

                </div>
                <div class="LearnGo-eventBody">
                    <div class="LearnGo-eventDate">
                        <p>2019年11月16日</p>
                        <p>巴西,库里提巴</p>
                    </div>
                    <div class="LearnGo-eventText">
                        <h4 class="LearnGo-eventName">
                            <a href="https://www.meetup.com/Women-Who-Go-CWB/events/265983131">Go的十年(Go faz 10 anos!)</a>
                        </h4>
                        <p class="LearnGo-eventDescription">
                            这是库里提巴关于Go女性开发者的组织，该组织将女性和其他少数群体聚集在一起，研究Go编程语言。<br/>
                            伙计们，我们希望建立一个更加多样化的Golang社区<br/>
                            tl;dr: 使用Go的女性 - 库里提巴<br><br/>
                            <br><br/>
                            ♥ <a href="https://twitter.com/womenwhogocwb" rel="nofollow">Twitter</a><br><br/>
                            ♥ <a href="https://www.instagram.com/womenwhogocwb/" rel="nofollow">Instagram</a><br><br/>
                            ♥ <a href="https://www.linkedin.com/company/40847620/" rel="nofollow">LinkedIn</a> <br><br/>
                            ♥ <a href="http://bit.ly/wwgtelegram" rel="nofollow">Telegram</a><br><br/>
                            ♥ <a href="https://www.womenwhogo.org/" rel="nofollow">WWG网站</a><br/>
                            <br><br/>
                            <br>
                        </p>
                    </div>
                    <p class="LearnGo-viewMore"><a href="https://www.meetup.com/Women-Who-Go-CWB/events/265983131">了解更多 &gt;</a></p>
                </div>
            </li>

        </ul>
    </div>
</section>
{{end}}
