{{define "title"}}学习资源 — Go语言俱乐部{{end}}
{{define "content"}}
<section class="Learn-title">
    <div class="Container">
        <h1>Getting Started</h1>
    </div>
</section>
<section class="Learn-gettingStarted">
    <div class="Container">
        <ul class="Learn-quickstarts">

            <li class="Learn-quickstart">
                <a href="https://golang.org/doc/install">
                    <div class="Learn-quickstartThumbnail">

                        <img src="/images/learn/install.png" alt="Installing Go thumbnail.">

                    </div>
                    <p class="Learn-quickstartTitle">
                        Installing Go
                    </p>
                </a>
            </li>

            <li class="Learn-quickstart">
                <a href="https://play.golang.org">
                    <div class="Learn-quickstartThumbnail">

                        <img src="/images/learn/gohelloworld.png" alt="Hello World thumbnail.">

                    </div>
                    <p class="Learn-quickstartTitle">
                        Hello World
                    </p>
                </a>
            </li>

            <li class="Learn-quickstart">
                <a href="https://tour.golang.org">
                    <div class="Learn-quickstartThumbnail">

                        <img src="/images/learn/tour.png" alt="Tour of Go thumbnail.">

                    </div>
                    <p class="Learn-quickstartTitle">
                        Tour of Go
                    </p>
                </a>
            </li>

        </ul>
        <p class="Learn-actions">
            <a class="Learn-viewMoreButton" href="https://golang.org/doc/">Learn More &gt;</a>
        </p>
    </div>
</section>
<section class="Learn-guided">
    <div class="Container">
        <div class="Learn-subHeader">
            <h2>Guided learning journeys</h2>
            <p class="Learn-viewMore">
            </p>
        </div>
        <ul class="Learn-tileList">

            <li class="Learn-tile">
                <a href="https://gowebexamples.com">
                    <div class="Learn-tileThumbnail">

                        <img alt="Web Dev thumbnail." src="/images/learn/helloworld.png">

                    </div>
                    <p class="Learn-tileTitle">
                        Web Dev
                    </p>
                </a>
            </li>

            <li class="Learn-tile">
                <a href="https://spf13.com/presentation/building-an-awesome-cli-app-in-go-oscon/">
                    <div class="Learn-tileThumbnail">

                        <img alt="CLIs thumbnail." src="/images/learn/commandline.svg">

                    </div>
                    <p class="Learn-tileTitle">
                        CLIs
                    </p>
                </a>
            </li>

            <li class="Learn-tile">
                <a href="https://www.youtube.com/watch?v=Q0sKAMal4WQ">
                    <div class="Learn-tileThumbnail">

                        <img alt="New to Coding thumbnail." src="/images/learn/edureka.png">

                    </div>
                    <p class="Learn-tileTitle">
                        New to Coding
                    </p>
                </a>
            </li>

            <li class="Learn-tile">
                <a href="https://gobyexample.com/">
                    <div class="Learn-tileThumbnail">

                        <img alt="Go by Example thumbnail." src="/images/learn/gobyexample.png">

                    </div>
                    <p class="Learn-tileTitle">
                        Go by Example
                    </p>
                </a>
            </li>

        </ul>
    </div>
</section>
<section class="Learn-online">
    <div class="Container">
        <div class="Learn-subHeader">
            <h2>Online learning</h2>
        </div>
        <ul class="Learn-tileList">

            <li class="Learn-tile">
                <a href="https://www.codecademy.com/learn/learn-go">
                    <div class="Learn-tileThumbnail">

                        <img alt="Codecademy thumbnail." src="/images/learn/codecademy.png">

                    </div>
                    <p class="Learn-tileTitle">
                        Codecademy
                    </p>
                </a>
            </li>

            <li class="Learn-tile">
                <a href="https://exercism.io/tracks/go">
                    <div class="Learn-tileThumbnail">

                        <img alt="Exercism.io thumbnail." src="/images/learn/exercism.png">

                    </div>
                    <p class="Learn-tileTitle">
                        Exercism.io
                    </p>
                </a>
            </li>

            <li class="Learn-tile">
                <a href="https://codelabs.developers.google.com/codelabs/cloud-functions-go-http/#0">
                    <div class="Learn-tileThumbnail">

                        <img alt="Google Developers Codelabs thumbnail." src="/images/learn/codelabs_2.png">

                    </div>
                    <p class="Learn-tileTitle">
                        Google Developers Codelabs
                    </p>
                </a>
            </li>

            <li class="Learn-tile">
                <a href="https://gophercises.com/">
                    <div class="Learn-tileThumbnail">

                        <img alt="Gophercises thumbnail." src="/images/learn/gophercises_1.png">

                    </div>
                    <p class="Learn-tileTitle">
                        Gophercises
                    </p>
                </a>
            </li>

        </ul>
    </div>
</section>
<section class="Learn-books">
    <div class="Container">
        <div class="Learn-subHeader">
            <h2>Featured books</h2>
            <p class="Learn-viewMore">
            </p>
        </div>
        <ul class="Learn-tileList">

            <li class="Learn-tile">
                <a href="https://www.gopl.io/">
                    <div class="Learn-tileThumbnail Learn-tileThumbnail--book">

                        <img alt="The Go Programming Language thumbnail." src="/images/learn/go-programming-language-book.png">

                    </div>
                    <p class="Learn-tileTitle">
                        The Go Programming Language
                    </p>
                </a>
            </li>

            <li class="Learn-tile">
                <a href="https://www.manning.com/books/get-programming-with-go">
                    <div class="Learn-tileThumbnail Learn-tileThumbnail--book">

                        <img alt="Get Programming with Go thumbnail." src="/images/learn/get-programming-with-go.jpeg">

                    </div>
                    <p class="Learn-tileTitle">
                        Get Programming with Go
                    </p>
                </a>
            </li>

            <li class="Learn-tile">
                <a href="https://github.com/matryer/goblueprints">
                    <div class="Learn-tileThumbnail Learn-tileThumbnail--book">

                        <img alt="Go Programming Blueprints thumbnail." src="/images/learn/go-programming-blueprints.png">

                    </div>
                    <p class="Learn-tileTitle">
                        Go Programming Blueprints
                    </p>
                </a>
            </li>

            <li class="Learn-tile">
                <a href="http://shop.oreilly.com/product/0636920046516.do">
                    <div class="Learn-tileThumbnail Learn-tileThumbnail--book">

                        <img alt="Introducing Go thumbnail." src="/images/learn/introducing-go-book.png">

                    </div>
                    <p class="Learn-tileTitle">
                        Introducing Go
                    </p>
                </a>
            </li>

            <li class="Learn-tile">
                <a href="https://www.oreilly.com/library/view/concurrency-in-go/9781491941294/">
                    <div class="Learn-tileThumbnail Learn-tileThumbnail--book">

                        <img alt="Concurrency in Go thumbnail." src="/images/learn/concurrency-in-go.jpeg">

                    </div>
                    <p class="Learn-tileTitle">
                        Concurrency in Go
                    </p>
                </a>
            </li>

        </ul>
    </div>
</section>
<section class="Learn-inPersonTraining">
    <div class="Container">
        <div class="Learn-subHeader">
            <h2>In-person training</h2>
            <p class="Learn-viewMore">
            </p>
        </div>
        <ul class="Learn-inPersonList">

            <li class="Learn-inPerson">
                <p class="Learn-inPersonTitle">
                    <a href="https://www.ardanlabs.com/">
                        Ardan Labs
                    </a>
                </p>
                <p class="Learn-inPersonBlurb">
                    Offering customized on-site live training classes.
                </p>
            </li>

            <li class="Learn-inPerson">
                <p class="Learn-inPersonTitle">
                    <a href="https://bosssauce.it/services/training">
                        Boss Sauce Creative
                    </a>
                </p>
                <p class="Learn-inPersonBlurb">
                    Personalized or track-based Go training for teams.
                </p>
            </li>

            <li class="Learn-inPerson">
                <p class="Learn-inPersonTitle">
                    <a href="https://www.gopherguides.com/">
                        Gopher Guides
                    </a>
                </p>
                <p class="Learn-inPersonBlurb">
                    Customized In-person, remote, and online training classes. Training for Developers by Developers.
                </p>
            </li>

            <li class="Learn-inPerson">
                <p class="Learn-inPersonTitle">
                    <a href="https://github.com/shijuvar/gokit/tree/master/training">
                        Shiju Varghese
                    </a>
                </p>
                <p class="Learn-inPersonBlurb">
                    On-site classroom training on Go and consulting on distributed systems architectures, in India.
                </p>
            </li>

        </ul>
    </div>
</section>
<section class="Learn-meetups">
    <div class="Container">
        <div class="Learn-subHeader">
            <h2>Meetups</h2>
            <p class="Learn-viewMore">
                <a href="https://www.meetup.com/pro/go">View more events &gt;</a>
            </p>
        </div>
        <ul class="Learn-events">

            <li class="Learn-eventItem">
                <div class="Learn-eventThumbnail Learn-eventThumbnail--noimage">

                    <img src="/images/meetup.svg" alt="meetup logo"/>

                </div>
                <div class="Learn-eventBody">
                    <div class="Learn-eventDate">
                        <p>Nov 18, 2019</p>
                        <p>Belgrade,  Serbia</p>
                    </div>
                    <div class="Learn-eventText">
                        <h4 class="Learn-eventName">
                            <a href="https://www.meetup.com/golang-serbia/events/265526991">Go&#39;s 10th Anniversary Celebration</a>
                        </h4>
                        <p class="Learn-eventDescription">
                            This is initial group of golang enthusiast and professionals
                        </p>
                    </div>
                    <p class="Learn-viewMore"><a href="https://www.meetup.com/golang-serbia/events/265526991">Learn more &gt;</a></p>
                </div>
            </li>

            <li class="Learn-eventItem">
                <div class="Learn-eventThumbnail Learn-eventThumbnail--noimage">

                    <img src="/images/meetup.svg" alt="meetup logo"/>

                </div>
                <div class="Learn-eventBody">
                    <div class="Learn-eventDate">
                        <p>Nov 18, 2019</p>
                        <p>Bournemouth,  United Kingdom</p>
                    </div>
                    <div class="Learn-eventText">
                        <h4 class="Learn-eventName">
                            <a href="https://www.meetup.com/Golang-Dorset/events/ssclkryzpbxb">Golang Dorset Monthly Meetup</a>
                        </h4>
                        <p class="Learn-eventDescription">
                            Golang Dorset<br/>
                            is a user group for people interested in the <br/>
                            <a href="https://golang.org/" rel="nofollow">Go programming language</a> and assorted related technologies and methodologies (kubernetes / docker / DevOps etc) <br><br/>
                            We aim to meet every month in central Bournemouth. <br>--- <br><br/>
                            We want to give everyone a chance to learn, or improve their skills with Go by practicing it, organizing workshops and talks, and mingling along like-minded individuals.<br/>
                            Any level of proficiency (or none at all) is welcome. <br/>
                            All code and slides from examples are available in the github repo <a href="https://github.com/golangdorset" rel="nofollow">github.com/golangdorset</a>  <br><br/>
                            <a href="https://join.slack.com/t/golangdorset/shared_invite/enQtMzM0OTEwNDAyNDM2LWExNjUxZmFlMGQ5NTdiMmIwYzg5ZGQwMGJlZWJkMWEyMjMxMDE1ZDg4ODgzZWFmNDZiMmQzNTRlNWQ0ZTY3ODU" rel="nofollow">Join us on Slack!</a> <br>
                        </p>
                    </div>
                    <p class="Learn-viewMore"><a href="https://www.meetup.com/Golang-Dorset/events/ssclkryzpbxb">Learn more &gt;</a></p>
                </div>
            </li>

            <li class="Learn-eventItem">
                <div class="Learn-eventThumbnail Learn-eventThumbnail--noimage">

                    <img src="/images/meetup.svg" alt="meetup logo"/>

                </div>
                <div class="Learn-eventBody">
                    <div class="Learn-eventDate">
                        <p>Nov 19, 2019</p>
                        <p>Auckland,  New Zealand</p>
                    </div>
                    <div class="Learn-eventText">
                        <h4 class="Learn-eventName">
                            <a href="https://www.meetup.com/Go-AKL/events/265114558">A decade of Go - celebration meetup</a>
                        </h4>
                        <p class="Learn-eventDescription">
                            Auckland based group for anyone interested in Go programming language. We will try to organise regular meetups with talks by members and guests. Depending on interest we can also consider organising Go hacking sessions.
                        </p>
                    </div>
                    <p class="Learn-viewMore"><a href="https://www.meetup.com/Go-AKL/events/265114558">Learn more &gt;</a></p>
                </div>
            </li>

        </ul>
    </div>
</section>
{{end}}