{{define "title"}}解决方案 — Go语言俱乐部{{end}}
{{define "content"}}
<section class="Solutions-title">
    <div class="Container">
        <h1>解决方案</h1>
    </div>
</section>
<section class="Solutions-headline">
    <div class="Container">
        <p class="Solutions-headlineText">
            利用 Go 来改进你的开发过程
        </p>
    </div>
</section>
<section class="Solutions-useCases" id="use-cases">
    <div class="Container">
        <div class="Solutions-useCasesHeader">
            <h2>专为今天的需求而设计</h2>
        </div>
        <ul class="Solutions-useCaseList">

            <li class="Solutions-useCase">
                <a href="/solutions/cloud/">
                    <div class="Solutions-useCaseLogo">


                        <img alt="cloud icon" src="/solutions/cloud/cloud-green.svg">

                    </div>
                    <div class="Solutions-useCaseBody">
                        <h3 class="Solutions-useCaseTitle">云 &amp; 网络服务</h3>
                        <p class="Solutions-useCaseDescription">
                            借助主流云供应商提供的强大的工具和 API 生态，用 Go 构建服务比以往任何时候都简单。
                        </p>
                        <p class="Solutions-useCaseAction">
                            学习更多 &gt;
                        </p>
                    </div>
                </a>
            </li>

            <li class="Solutions-useCase">
                <a href="/solutions/clis/">
                    <div class="Solutions-useCaseLogo">


                        <img alt="CLI icon" src="/solutions/clis/CLI-green.svg">

                    </div>
                    <div class="Solutions-useCaseBody">
                        <h3 class="Solutions-useCaseTitle">CLIs（命令行界面）</h3>
                        <p class="Solutions-useCaseDescription">
                            借助流行的开源软件包和强健的标准库，用 Go 来创建快速而优雅的 CLIs。
                        </p>
                        <p class="Solutions-useCaseAction">
                            学习更多 &gt;
                        </p>
                    </div>
                </a>
            </li>

            <li class="Solutions-useCase">
                <a href="/solutions/webdev/">
                    <div class="Solutions-useCaseLogo">


                        <img alt="web dev icon" src="/solutions/webdev/webdev-green.svg">

                    </div>
                    <div class="Solutions-useCaseBody">
                        <h3 class="Solutions-useCaseTitle">Web 开发</h3>
                        <p class="Solutions-useCaseDescription">
                            借助强大的内存性能及对多种 IDE 的支持，Go 为快速可扩展的 Web 应用助力。
                        </p>
                        <p class="Solutions-useCaseAction">
                            学习更多 &gt;
                        </p>
                    </div>
                </a>
            </li>

            <li class="Solutions-useCase">
                <a href="/solutions/devops/">
                    <div class="Solutions-useCaseLogo">


                        <img alt="ops icon" src="/solutions/devops/ops-green.svg">

                    </div>
                    <div class="Solutions-useCaseBody">
                        <h3 class="Solutions-useCaseTitle">DevOps &amp; 站点可靠性</h3>
                        <p class="Solutions-useCaseDescription">
                            借助快速的构建、精简的语法、自动格式化和文档生成器，Go 天生支持 DevOps 和 SRE（站点可靠性工程，Site Reliability Engineering） 。
                        </p>
                        <p class="Solutions-useCaseAction">
                            学习更多 &gt;
                        </p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>
<section class="Solutions-caseStudies" id="case-studies">
    <div class="Container">
        <div class="Solutions-caseStudiesHeader">
            <h2>使用 Go 的公司</h2>
        </div>
        <ul class="Solutions-caseStudyList">

            <li class="Solutions-caseStudy">

                <a href="/solutions/americanexpress/">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="American Express" src="/solutions/americanexpress/logo.png">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">American Express 将 Go 用于支付和奖励业务</h3>
                        <p class="Solutions-caseStudyDescription">
                            Go 为 American Express 提供了支付和奖励网络所需的速度和扩展性。
                        </p>
                        <p class="Solutions-caseStudyAction">查看案例</p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="/solutions/mercadolibre/">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="MercadoLibre" src="/solutions/mercadolibre/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">MercadoLibre 伴随 Go 共同成长</h3>
                        <p class="Solutions-caseStudyDescription">
                            Go 提供了干净、高效的代码，可随 MercadoLibre 在线商务的发展而迅速扩展，并允许他们的工程师在编写更少代码的同时为不断增多的受众提供服务，从而提高了开发效率。
                        </p>
                        <p class="Solutions-caseStudyAction">查看案例</p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://www.zdnet.com/article/salesforce-why-we-ditched-python-for-googles-go-language-in-einstein-analytics/" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Salesforce" src="/solutions/salesforce/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Salesforce - 从 Python/C 转向 Go</h3>
                        <p class="Solutions-caseStudyDescription">
                            一个巨大优势是 Go 的跨平台特性使得代码移植很方便。
                        </p>
                        <p class="Solutions-caseStudyAction">查看文章 <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://medium.com/capital-one-tech/a-serverless-and-go-journey-credit-offers-api-74ef1f9fde7f" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Capital One" src="/solutions/capital-one/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Capital One - 一趟无服务器以及 Go 的旅程</h3>
                        <p class="Solutions-caseStudyDescription">
                            开始的时候，我们团队没有一个成员了解 Go，但是一个月后，我们每个人都开始用 Go 写代码，我们当时正在构建终端服务。正是 Go 的灵活性、易用性及其一流的理念（Go 如何处理本机并发、垃圾回收，当然还有安全性和运行速度）等在构建过程中帮了我们。毕竟，谁能战胜这只可爱的吉祥物呢！
                        </p>
                        <p class="Solutions-caseStudyAction">查看文章 <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://tech.target.com/infrastructure/2018/06/18/Recommending-GoLang-at-Target.html" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Target" src="/solutions/target/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Target - 推荐使用 Go</h3>
                        <p class="Solutions-caseStudyDescription">
                            我们钟情于 Go 简单的语法、强大的标准库、活跃的第三方社区以及精心构建和维护的库。 我们钟情于 Go 快速的编译以及部署容器时可以构建非常小的镜像。 当我们不断发展壮大，为客户扩展技术解决方案时，我们发现 Go 中的并发原语特别有用。
                        </p>
                        <p class="Solutions-caseStudyAction">查看文章 <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://blog.twitch.tv/en/2016/07/05/gos-march-to-low-latency-gc-a6fa96f06eb7/" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Twitch" src="/solutions/twitch/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Twitch - Go 进军低延迟 GC</h3>
                        <p class="Solutions-caseStudyDescription">
                            我们在 Twitch 的许多业务系统中使用 Go。当我们向数百万用户提供实时视频和聊天时会遇到很多问题，Go 的简单性、安全性、高性能以及可读性使其成为解决这些问题的好工具。
                        </p>
                        <p class="Solutions-caseStudyAction">查看文章 <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://medium.com/netflix-techblog/application-data-caching-using-ssds-5bf25df851ef" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Netflix" src="/solutions/netflix/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Netflix - 使用 SSD 缓存应用程序数据</h3>
                        <p class="Solutions-caseStudyDescription">
                            做出使用 Go 的决定是经过深思熟虑的。因为我们需要的语言要比 Java（Java 的垃圾回收暂停是个问题）具有更低延迟；同时对开发者而言还要有比 C 有更高的开发效率；此外，还要处理成千上万的客户端连接。在这些领域，Go 非常合适。
                        </p>
                        <p class="Solutions-caseStudyAction">查看文章 <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://blog.twitter.com/engineering/en_us/a/2015/handling-five-billion-sessions-a-day-in-real-time.html" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Twitter" src="/solutions/twitter/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Twitter - 每天实时处理 50 亿次会话</h3>
                        <p class="Solutions-caseStudyDescription">
                            现在，我们每天看到大约 50 亿个会话，并且还在不断增长。数以亿计的设备每秒都将数百万个事件发送到 Answers 端点。在你阅读这段话的时间内，Answers 后端将收到并处理大约 10,000,000 个分析事件。
                        </p>
                        <p class="Solutions-caseStudyAction">查看文章 <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://eng.uber.com/aresdb/" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Uber" src="/solutions/uber/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Uber - Go 中基于 GPU 的分析引擎</h3>
                        <p class="Solutions-caseStudyDescription">
                            AresDB[用 Go 语言编写]在 Uber 被广泛用于支持我们的实时数据分析仪表板，使我们能够针对业务的各个方面做出大量数据驱动的决策。
                        </p>
                        <p class="Solutions-caseStudyAction">查看文章 <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://blogs.dropbox.com/tech/2014/07/open-sourcing-our-go-libraries/" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Dropbox" src="/solutions/dropbox/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Dropbox - 开源我们的 Go 库</h3>
                        <p class="Solutions-caseStudyDescription">
                            大约一年前，我们决定将性能关键的后端从 Python 迁移到 Go，以利用更好的并发支持和更快的执行速度。...到目前为止，我们已成功将基础架构的主要部分移到 Go。
                        </p>
                        <p class="Solutions-caseStudyAction">查看文章 <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

        </ul>
    </div>
</section>
{{end}}