{{define "title"}}解决方案 — Go语言俱乐部{{end}}
{{define "content"}}
<section class="Solutions-title">
    <div class="Container">
        <h1>Solutions</h1>
    </div>
</section>
<section class="Solutions-headline">
    <div class="Container">
        <p class="Solutions-headlineText">
            Use Go to improve your development process
        </p>
    </div>
</section>
<section class="Solutions-useCases" id="use-cases">
    <div class="Container">
        <div class="Solutions-useCasesHeader">
            <h2>Designed for today's needs</h2>
        </div>
        <ul class="Solutions-useCaseList">

            <li class="Solutions-useCase">
                <a href="/solutions/cloud/">
                    <div class="Solutions-useCaseLogo">


                        <img alt="cloud icon" src="/solutions/cloud/cloud-green.svg">

                    </div>
                    <div class="Solutions-useCaseBody">
                        <h3 class="Solutions-useCaseTitle">Cloud &amp; Network Services</h3>
                        <p class="Solutions-useCaseDescription">
                            With a strong ecosystem of tools and APIs on major cloud providers, it is easier than ever to build services with Go.
                        </p>
                        <p class="Solutions-useCaseAction">
                            Learn More &gt;
                        </p>
                    </div>
                </a>
            </li>

            <li class="Solutions-useCase">
                <a href="/solutions/clis/">
                    <div class="Solutions-useCaseLogo">


                        <img alt="CLI icon" src="/solutions/clis/CLI-green.svg">

                    </div>
                    <div class="Solutions-useCaseBody">
                        <h3 class="Solutions-useCaseTitle">Command-line Interfaces</h3>
                        <p class="Solutions-useCaseDescription">
                            With popular open source packages and a robust standard library, use Go to create fast and elegant CLIs.
                        </p>
                        <p class="Solutions-useCaseAction">
                            Learn More &gt;
                        </p>
                    </div>
                </a>
            </li>

            <li class="Solutions-useCase">
                <a href="/solutions/webdev/">
                    <div class="Solutions-useCaseLogo">


                        <img alt="web dev icon" src="/solutions/webdev/webdev-green.svg">

                    </div>
                    <div class="Solutions-useCaseBody">
                        <h3 class="Solutions-useCaseTitle">Web Development</h3>
                        <p class="Solutions-useCaseDescription">
                            With enhanced memory performance and support for several IDEs, Go powers fast and scalable web applications.
                        </p>
                        <p class="Solutions-useCaseAction">
                            Learn More &gt;
                        </p>
                    </div>
                </a>
            </li>

            <li class="Solutions-useCase">
                <a href="/solutions/devops/">
                    <div class="Solutions-useCaseLogo">


                        <img alt="ops icon" src="/solutions/devops/ops-green.svg">

                    </div>
                    <div class="Solutions-useCaseBody">
                        <h3 class="Solutions-useCaseTitle">DevOps &amp; Site Reliability</h3>
                        <p class="Solutions-useCaseDescription">
                            With fast build times, lean syntax, an automatic formatter and doc generator, Go is built to support both DevOps and SRE.
                        </p>
                        <p class="Solutions-useCaseAction">
                            Learn More &gt;
                        </p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>
<section class="Solutions-caseStudies" id="case-studies">
    <div class="Container">
        <div class="Solutions-caseStudiesHeader">
            <h2>Companies using Go</h2>
        </div>
        <ul class="Solutions-caseStudyList">

            <li class="Solutions-caseStudy">

                <a href="/solutions/americanexpress/">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="American Express" src="/solutions/americanexpress/logo.png">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">American Express Uses Go for Payments &amp; Rewards</h3>
                        <p class="Solutions-caseStudyDescription">
                            Go provides American Express with the speed and scalability it needs for both its payment and rewards networks.
                        </p>
                        <p class="Solutions-caseStudyAction">View case study</p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="/solutions/mercadolibre/">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="MercadoLibre" src="/solutions/mercadolibre/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">MercadoLibre Grows with Go</h3>
                        <p class="Solutions-caseStudyDescription">
                            Go provides clean, efficient code that readily scales as MercadoLibre’s online commerce grows, and increases developer productivity by allowing their engineers to serve their ever-increasing audience while writing less code.
                        </p>
                        <p class="Solutions-caseStudyAction">View case study</p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://www.zdnet.com/article/salesforce-why-we-ditched-python-for-googles-go-language-in-einstein-analytics/" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Salesforce" src="/solutions/salesforce/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Salesforce - From Python/C to Go</h3>
                        <p class="Solutions-caseStudyDescription">
                            One of the big advantages is that Go&#39;s cross-platform features make porting code easy.
                        </p>
                        <p class="Solutions-caseStudyAction">View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://medium.com/capital-one-tech/a-serverless-and-go-journey-credit-offers-api-74ef1f9fde7f" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Capital One" src="/solutions/capital-one/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Capital One - A Serverless and Go Journey</h3>
                        <p class="Solutions-caseStudyDescription">
                            At the time, no single team member knew Go, but within a month, everyone was writing in Go and we were building out the endpoints. It was the flexibility, how easy it was to use, and the really cool concept behind Go (how Go handles native concurrency, garbage collection, and of course safety&#43;speed.) that helped engage us during the build. Also, who can beat that cute mascot!
                        </p>
                        <p class="Solutions-caseStudyAction">View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://tech.target.com/infrastructure/2018/06/18/Recommending-GoLang-at-Target.html" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Target" src="/solutions/target/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Target - Recommending Go</h3>
                        <p class="Solutions-caseStudyDescription">
                            We loved the simplified syntax, strong standard library, great external community, and well-built and maintained libraries. We loved the fast compile times and incredibly small images we could build when deploying containers. As we continue to grow and scale our technical solutions to our guests, we find the concurrency primitives in Go particularly useful.
                        </p>
                        <p class="Solutions-caseStudyAction">View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://blog.twitch.tv/en/2016/07/05/gos-march-to-low-latency-gc-a6fa96f06eb7/" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Twitch" src="/solutions/twitch/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Twitch - Go’s march to low latency GC</h3>
                        <p class="Solutions-caseStudyDescription">
                            We use Go at Twitch for many of our busiest systems. Its simplicity, safety, performance, and readability make it a good tool for the problems we encounter with serving live video and chat to our millions of users.
                        </p>
                        <p class="Solutions-caseStudyAction">View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://medium.com/netflix-techblog/application-data-caching-using-ssds-5bf25df851ef" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Netflix" src="/solutions/netflix/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Netflix - Application data caching using SSDs</h3>
                        <p class="Solutions-caseStudyDescription">
                            The decision to use Go was deliberate, because we needed something that had lower latency than Java (where garbage collection pauses are an issue) and is more productive for developers than C, while also handling tens of thousands of client connections. Go fits this space well.
                        </p>
                        <p class="Solutions-caseStudyAction">View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://blog.twitter.com/engineering/en_us/a/2015/handling-five-billion-sessions-a-day-in-real-time.html" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Twitter" src="/solutions/twitter/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Twitter - 5 billion sessions a day in realtime</h3>
                        <p class="Solutions-caseStudyDescription">
                            We now see about five billion sessions per day, and growing. Hundreds of millions of devices send millions of events every second to the Answers endpoint. During the time that it took you to read to here, the Answers back-end will have received and processed about 10,000,000 analytics events.
                        </p>
                        <p class="Solutions-caseStudyAction">View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://eng.uber.com/aresdb/" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Uber" src="/solutions/uber/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Uber - GPU-power analytics engine in Go</h3>
                        <p class="Solutions-caseStudyDescription">
                            AresDB [,written in Go,] is widely used at Uber to power our real-time data analytics dashboards, enabling us to make data-driven decisions at scale about myriad aspects of our business.
                        </p>
                        <p class="Solutions-caseStudyAction">View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

            <li class="Solutions-caseStudy">

                <a href="https://blogs.dropbox.com/tech/2014/07/open-sourcing-our-go-libraries/" target="_blank">
                    <div class="Solutions-caseStudyLogo">

                        <img alt="Dropbox" src="/solutions/dropbox/logo.svg">
                    </div>
                    <div class="Solutions-caseStudyBody">
                        <h3 class="Solutions-caseStudyTitle">Dropbox - Open sourcing our Go libraries</h3>
                        <p class="Solutions-caseStudyDescription">
                            About a year ago, we decided to migrate our performance-critical backends from Python to Go to leverage better concurrency support and faster execution speed. ... At this point, we have successfully moved major parts of our infrastructure to Go.
                        </p>
                        <p class="Solutions-caseStudyAction">View article <i class="material-icons" style="font-size:1rem;">open_in_new</i></p>
                    </div>
                </a>

            </li>

        </ul>
    </div>
</section>
{{end}}