<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{template "title" .}}</title>
    <meta charset="utf-8">
    {{template "seo" .}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00add8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:400,500,600|Roboto:400,700|Source+Code+Pro|Material+Icons">
    <link rel="stylesheet" href="/static/css/base.css?v=0.2">
</head>

<body class="Site">
<header class="Site-header">
    <div class="Header Header--dark">
        <nav class="Header-nav">
            <a href="/">
                <img class="Header-logo" src="/static/imgs/go-logo-white.svg" alt="Go">
            </a>
            <form class="SearchForm SearchForm--white" action="https://pkg.golangclub.com/search" role="search" target="_blank">
                <input class="SearchForm-input SearchForm-input--white" aria-label="Search for a package" type="text" name="q" size="1"
                       placeholder="输入一个包名" autocapitalize="off" autocomplete="off" autocorrect="off"
                       spellcheck="false" title="Search for a package">
                <button class="SearchForm-submit" aria-label="Search for a package">
                    <svg class="SearchForm-submitIcon SearchForm-submitIcon--white" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                         role="presentation">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                        <path fill="none" d="M0 0h24v24H0z"></path>
                    </svg>
                </button>
            </form>
            <ul class="Header-menu">
                <li class="Header-menuItem {{.solution_active}}">
                    <a href="/solutions" title="Solutions">解决方案</a>
                </li>
                <li class="Header-menuItem {{.learn_active}}">
                    <a href="/learn" title="Learn">学习资源</a>
                </li>
                <li class="Header-menuItem ">
                    <a href="https://pkg.golangclub.com/" target="_blank" title="Explore">探索</a>
                </li>
                <li class="Header-menuItem {{.gopher_active}}">
                    <a href="/gopher" title="Gopher名人">Gopher名人</a>
                </li>
                <li class="Header-menuItem {{.about_active}}">
                    <a href="/about" title="about">关于</a>
                </li>
                <li class="Header-menuItem">
                    <a href="https://studygolang.com" target="_blank" title="studygolang.com">Go语言中文网</a>
                </li>
            </ul>
            <button class="Header-navOpen js-headerMenuButton Header-navOpen--white" aria-label="Open navigation.">
            </button>
        </nav>
    </div>
</header>
<aside class="NavigationDrawer js-header">
    <nav class="NavigationDrawer-nav">
        <div class="NavigationDrawer-header">
            <a href="/">
                <img class="NavigationDrawer-logo" src="/static/imgs/go-logo-blue.svg" alt="Go.">
            </a>
            <button class="NavigationDrawer-close js-headerMenuButton" aria-label="Close navigation.">
            </button>
        </div>
        <ul class="NavigationDrawer-list">
            <li class="NavigationDrawer-listItem ">
                <a href="/solutions" title="Solutions">解决方案</a>
            </li>
            <li class="NavigationDrawer-listItem ">
                <a href="/learn" title="Learn">学习资源</a>
            </li>
            <li class="NavigationDrawer-listItem ">
                <a href="https://pkg.golangclub.com" target="_blank" title="Explore">探索</a>
            </li>
            <li class="NavigationDrawer-listItem ">
                <a href="/gopher" title="Gopher名人">Gopher名人</a>
            </li>
            <li class="NavigationDrawer-listItem ">
                <a href="/about" title="About">关于</a>
            </li>
            <li class="NavigationDrawer-listItem ">
                <a href="https://studygolang.com" target="_blank" title="studygolang.com">Go语言中文网</a>
            </li>
        </ul>
    </nav>
</aside>
<div class="NavigationDrawer-scrim js-scrim" role="presentation">
</div>

<main class="Site-content">
   {{template "content" .}}
</main>

<footer class="Site-footer">
    <div class="Footer">
        <div class="Container">
            <div class="Footer-links">
                <div class="Footer-linkColumn">

                    <a href="/solutions" class="Footer-link Footer-link--primary" title="Solutions" data-identifier="solutions">
                        解决方案
                    </a>
                    <a href="/solutions" class="Footer-link" title="Use Cases" data-identifier="usecases">
                        使用案例
                    </a>
                    <a href="/solutions" class="Footer-link" title="Case Studies" data-identifier="casestudies">
                        案例学习
                    </a>

                </div>
                <div class="Footer-linkColumn">

                    <a href="/learn" class="Footer-link Footer-link--primary" title="Learn" data-identifier="learn">
                        学习资源
                    </a>
                    <a href="https://play.studygolang.com" class="Footer-link" title="" data-identifier="">
                        Playground
                    </a>
                    <a href="http://tour.studygolang.com" class="Footer-link" title="" data-identifier="">
                        Tour
                    </a>
                    <a href="https://stackoverflow.com/questions/tagged/go?tab=Newest" class="Footer-link" title="" data-identifier="">
                        Stack Overflow
                    </a>
                    <a href="https://studygolang.com/go/qna" class="Footer-link" title="" data-identifier="">
                        问答社区
                    </a>
                    <a href="https://studygolang.com/subject/1" class="Footer-link" title="" data-identifier="">
                        GCTT
                    </a>

                </div>
                <div class="Footer-linkColumn">

                    <a href="https://pkg.golangclub.com" class="Footer-link Footer-link--primary" title="Explore" data-identifier="explore">
                        探索
                    </a>
                    <img src="/static/imgs/wx_qrcode.jpg" width="120" alt="">

                </div>
                <div class="Footer-linkColumn">

                    <a href="/about" class="Footer-link Footer-link--primary" title="About" data-identifier="about">
                        关于
                    </a>
                    <a href="https://studygolang.com/dl" class="Footer-link" title="" data-identifier="">
                        Go下载
                    </a>
                    <a href="https://blog.golang.org" class="Footer-link" title="" data-identifier="">
                        官方博客
                    </a>
                    <a href="https://github.com/golang/go/issues" class="Footer-link" title="" data-identifier="">
                        Go Issue跟踪
                    </a>
                    <a href="http://docs.studygolang.com/doc/devel/release.html" class="Footer-link" title="" data-identifier="">
                        Go发布日志
                    </a>
                    <a href="https://blog.golang.org/go-brand" class="Footer-link" title="" data-identifier="">
                        品牌准则
                    </a>
                    <a href="https://golang.org/conduct" class="Footer-link" title="" data-identifier="">
                        行为守则
                    </a>

                </div>
                <div class="Footer-linkColumn">

                    <a href="https://github.com/polaris1119/golangclub" class="Footer-link Footer-link--primary" title="Connect" data-identifier="connect">
                        联系我们
                    </a>
                    <a href="http://weibo.com/studygolang" class="Footer-link" title="" data-identifier="">
                        Weibo
                    </a>
                    <a href="https://github.com/studygolang" class="Footer-link" title="" data-identifier="">
                        Github
                    </a>
                    <a href="https://invite.slack.golangbridge.org/" class="Footer-link" title="" data-identifier="">
                        Slack
                    </a>
                    <a href="https://reddit.com/r/golang" class="Footer-link" title="" data-identifier="">
                        r/golang
                    </a>
                    <a href="https://www.meetup.com/pro/go" class="Footer-link" title="" data-identifier="">
                        Meetup
                    </a>
                    <a href="https://studygolang.com/go/weekly" class="Footer-link" title="" data-identifier="">
                        Go周刊
                    </a>
                    <a href="https://go.dev" class="Footer-link" title="" data-identifier="" target="_blank">
                        Go.Dev
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="Footer">
        <div class="Container Container--fullBleed">
            <div class="Footer-bottom">
                <img class="Footer-gopher" src="/static/imgs/pilot-bust.svg" alt="The Go Gopher">
                <ul class="Footer-listRow">
                    <li class="Footer-listItem"><a href="/copyright">版权</a></li>
                    <li class="Footer-listItem"><a href="/tos">服务条款</a></li>
                    <li class="Footer-listItem"><a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">谷歌隐私策略</a></li>
                    <li class="Footer-listItem">
                        <a href="https://github.com/polaris1119/golangclub/issues" target="_blank">提Issue</a>
                    </li>
                </ul>
                <a class="Footer-sgLogo" target="_blank" href="https://studygolang.com" rel="noopener noreferrer">
                    <img class="Footer-sgLogoImg" src="/static/imgs/studygolang-white.png" alt="studygolang logo">
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="/static/js/base.js" type="text/javascript"></script>
</body>
</html>
